{% extends 'base.html' %}
{% block content %}


<main role="main">
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-1">JOYSTICK</h1>
            <p><a class="btn btn-primary btn-lg" href="/evaluations" role="button">Analyze Results &raquo;</a></p>
            <p class="lead">Joystick is a tool that gives you the ability to transform the ATT&CK Evaluations data into
                concise views that brings forward the nuances in the results. It accomplishes this by providing a
                flexible, and intuitive interface that makes reading the results an interactive process. By providing a
                platform for you to get your hands dirty with the data, you will be able to comprehend it more
                thoroughly and maximize the Evaluations results to address your organization's needs.</p>
        </div>
    </div>
    <div class="text-center">
        <main role="main" class="inner cover">
            <div class="container">
                <h1 class="cover-heading">Understanding ATT&CK Evaluations Results</h1>
                <p class="lead">Joystick allows users to graphically explore the ATT&CK Evaluations results. We have
                    initially released functionality to enable users to prioritize the detection categories that matter
                    most to them. After selecting the detection categories of greatest interest, users are presented a
                    timeline view of the Operational Flow, clearly showing where that type of detection(s) occurred.</p>
                <p class="lead"> Some example questions that you can use Joystick to answer:</p>
                <ul class="lead" style="display: inline-block; text-align: left">
                    <li>Does a vendor have broad coverage, or are their detections focused around a couple of
                        techniques?</li>
                    <li>Where in the Operational Flow did detections occur?</li>
                    <li>Which steps had telemetry?</li>
                    <li>Which steps had some detection logic applied (e.g., not telemetry or none)?</li>
                    <li>Which steps were tainted/correlated?</li>
                    <li>How did this vendor perform in their initial evaluation (e.g., no configuration changes)?</li>
                </ul>
                <p class="lead">
                    <a href="https://attackevals.mitre.org/FAQ.html" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </div>
        </main>
    </div>
    </div>
    <hr>

    </div>
</main>


{% endblock %}