<br>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Execution</h4>
        </div>
        <div id="Execution" class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>20 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Persistence</h4>
        </div>
        <div id="Persistence" class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
                <li>30 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Privilege Escalation</h4>
        </div>
        <div id="Privilege Escalation" class="card-body">
<ul class="list-unstyled mt-3 mb-4">
                <li>10 detections</li>
            </ul>
        </div>
    </div>
</div>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Defense Evasion</h4>
        </div>
        <div id="Defense Evasion" class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>20 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Credential Access</h4>
        </div>
        <div id="Credential Access" class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
                <li>30 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Discovery</h4>
        </div>
        <div id="Discovery" class="card-body">
<ul class="list-unstyled mt-3 mb-4">
                <li>10 detections</li>
            </ul>
        </div>
    </div>
</div>
<div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Lateral Movement</h4>
        </div>
        <div id="Lateral Movement" class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>20 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Collection</h4>
        </div>
        <div id="Collection" class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
                <li>30 detections</li>
            </ul>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Command and Control</h4>
        </div>
        <div id="Command and Control" class="card-body">
<ul class="list-unstyled mt-3 mb-4">
                <li>10 detections</li>
            </ul>
        </div>
    </div>
</div>
<div class="card-deck mb- text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Exfiltration</h4>
        </div>
        <div id="Exfiltration" class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>20 detections</li>
            </ul>
        </div>
    </div>

</div>