<html lang="en">
<head>
     {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/webapp/img/favicon.png"/>
        <link rel="stylesheet" href="/webapp/css/basic.css" type="text/css">
        <link rel="stylesheet" href="/webapp/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/webapp/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webapp/css/bootstrap-select.css">


        <script src="/webapp/js/popper.js" type="text/javascript"></script>
        <script src="/webapp/js/jquery-3.4.1.min.js"></script>
        <script src="/webapp/js/bootstrap.min.js"></script>
        <script src="/webapp/js/bootstrap-select.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="/webapp/js/sections.js"></script>
        {% endblock %}

    </head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a  href="/evaluations">Evaluations</a>
        <div class="topnav-right">
            <a href="https://attackevals.mitre.org" target="_blank">ATT&CK Evaluations</a>
            <a href="https://attack.mitre.org" target="_blank">ATT&CK</a>
        </div>
    </div>
</body>

<div id='content'>{% block content %} {% block left %} {% endblock %} {% block right %} {% endblock %} {% endblock %}</div>

</html>
